@import "../../styles/variables";

.footer {
  background-color: $primary-color;
  color: white;
  padding: 2rem 1.5rem;

  .content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .links {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
